h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;

  :first-child {
    margin-top: 0;
  }
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;

  > * {
    box-shadow: 0 0 5px 0px rgba(0,0,0,.3);
    height: 100%;

    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }

    &*::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.filter {
  display: flex;
  gap: .25rem;
  justify-content: center;
  flex-wrap: wrap;

  button {
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    color: white;
  }
}
